#container {
  margin: 0 auto;
  background-color: rgba(237, 237, 237, 0.5);
  font-family: 'Russo One', sans-serif;
  color: cornsilk;
  border-radius: 15px;
  max-width: 1300px;
  width: 100vw;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 30px;
  padding: 20px 40px;
}

p {
  font-size: 18px;
}